<aside
  class="fixed w-80 shadow-lg bg-blue-100 rounded border border-gray-300 h-[calc(100vh_-_4rem)]"
>
  <ul>
    <li class="p-4 cursor-pointer text-blue-600"  routerLinkActive="bg-blue-100 border-l-4 border-blue-500 font-bold">All</li>
    <li  class="p-4 cursor-pointer text-blue-600" routerLinkActive="bg-blue-100 border-l-4 border-blue-500 font-bold">Completed</li>
    <li  class="p-4 cursor-pointer text-blue-600" routerLinkActive="bg-blue-100 border-l-4 border-blue-500 font-bold">InCompleted</li>
  </ul>
</aside>